@model IList<Admin.Models.Brands>

<div class="d-block dropdown-menu dropdown-menu-md dropdown-menu-right" aria-labelledby=dropdownMenuButton>
    <div class="second-dropdown d-block container">
        <ul class="row px-3 text-center">
            @foreach (var item in Model)
            {
                <li class="d-block col-4 mb-2 nav-item dropdown"><a class="d-block px-0 nav-link" href=#> <span class="position-relative d-block w-100 py-10 pl-0 pr-1 text-center text-uppercase nav-link--label"> <span>@item.NameEn</span> </span> </a></li> 
            }
        </ul>
        <div class="row px-3">
            <div class=col-12>
                <div class="mt-3 text-center all-manufacture"><a class="btn btn-default w-100" href="/Brands">@Localizer["ViewAll"]</a></div>
            </div>
        </div>
    </div>
</div>
