@model IEnumerable<Admin.Models.Brands>

<ul class="row px-3 text-center">
    @foreach (var item in Model)
    {
        <li class="d-block col-4 mb-2 nav-item dropdown">
            <a class="d-block px-0 nav-link" href=#>
                <span class="position-relative d-block w-100 py-10 pl-0 pr-1 text-center text-uppercase nav-link--label">
                    <span>@item.NameEn</span>
                </span>
            </a>
        </li>
    }


</ul>

@*
<script type="text/javascript">
    $(function () {
        function GetAllBrands() {
            $.ajax({
                url: "/Brands/GetAllBrands",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $("#ddlLayoutBrands").html('');
                    var innerHtml = '';
                    $.each(data, function (i, item) {

                        innerHtml += '<li class="d-block col-4 mb-2 nav-item dropdown"><a class="d-block px-0 nav-link" href=#> <span class="position-relative d-block w-100 py-10 pl-0 pr-1 text-center text-uppercase nav-link--label"> <span>' + item.nameEn + '</span> </span> </a>';
                    });
                    $("#ddlLayoutBrands").append(innerHtml);
                },
                error: function (response) {
                    swal('Oops...', 'Something went wrong!', 'error');;
                }
            });
        }
    });
</script>*@